body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/* Zacetek predelave strrani */
a {
  color: #00B7FF;
}
/* koment */
#vsebina {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* zacel obdelovati */
#kanal {
  background-color: #FFFF99;
  margin-bottom: 1em;
}

#sporocila {
  width: 85%;
  height: 300px;
  overflow: auto;
  background-color: #FFFFCC;
  margin-bottom: 1em;
  margin-right: 10px;
}

#seznam-kanalov {
  
  width: 100px;
  height: 150px;
  overflow: auto;
}
#seznam-uporabnikov-na-kanalu {
  width: 100px;
  height: 300px;
  overflow: auto;
}

#desna-stran {
  float: right;
  width: 15%;
  height: 300px;
  overflow: auto;
}

#seznam-kanalov div {
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

#seznam-kanalov div:hover {
  background-color: #ddd;
}

#poslji-sporocilo {
  width: 700px;
  margin-bottom: 1em;
  margin-right: 1em;
}

#pomoc {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}